// .imgHome {
//   background-image: url('./../../../assets/img/undraw_electric_car_b-7-hl.svg');
//   height: 80%;

//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: cover;
// }

.imgHome {
  margin-top: 5rem;
}

.tabela-lista-usuario {
  // font-size: 5px;
}

.tb-Titulo {
  border-color: black;
  border-style: groove;
}

.tb-Titulo-right {
  border-color: black;
  border-right-style: groove;
}

.tb-row {
  border-color: black;
  border-right-style: groove;
  border-left-style: groove;
  border-bottom-style: groove;
}

.margem-titulo {
  margin-top: 5rem;
}
