<nav class="navbar text-bg-dark">
  <div class="container-fluid">
    <button class="navbar-toggler text-bg-light" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon text-bg-light"></span>
    </button>
    <a class="navbar-brand text-bg-dark" routerLink="/home">FleetHub</a>
    <a class="navbar-brand text-bg-dark" routerLink="/login"><span class="material-symbols-outlined">logout</span></a>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Olá {{usuario.firstName}}!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/listar-pessoas">Lista de usuarios</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Gerenciar Veículos
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="/">Listar Veículos</a></li>
              <li><a class="dropdown-item" routerLink="/">Incluir novo Veículo</a></li>
              <li><a class="dropdown-item" routerLink="/">Alterar Veículo</a></li>
              <li><a class="dropdown-item" routerLink="/">Remover Veículo</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Gerenciar Usuários
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="/">Listar Usuários</a></li>
              <li><a class="dropdown-item" routerLink="/">Alterar Usuário</a></li>
              <li><a class="dropdown-item" routerLink="/">Remover Usuário</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
